.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    grid-area: App;
}

.AppInner {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.Checkbox {
    display: inline-block;
    border: 1px solid;
    min-width: 1.5em;
    min-height: 1.5em;
    max-width: 1.5em;
    max-height: 1.5em;
    margin: 0.25em;
    user-select: none;
}

.Checkbox:hover {
    background-color: #f5f5f5;
}

.TodoList {
    width: 100%;
}

.ItemCont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1.5px solid;
    margin: 0.5em;
}

.Item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Item input {
    margin: 0.25em;
    padding: 0.25em;
    max-height: 1.5em;
}

input[type=text] {
    margin: 0.25em;
    border: 1px solid transparent;
    padding: 0.25em;
}

input[type=text]:hover {
    border: 1px solid gray;
}

input[type=password] {
    margin: 0.25em;
    border: 1px solid transparent;
    padding: 0.25em;
}

input[type=password]:hover {
    border: 1px solid gray;
}


button {
    margin: 0.25em;
    border: 1px solid transparent;
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-align: center;
    font-weight: bold;
}

button:hover {
    border: 1px solid;
}

button:active {
    background-color: darkgray;
}

input[type=date] {
    font-family: sans-serif;
    max-width: min-content;
    min-width: max-content;
    border: 1px solid transparent;
}

input[type=date]:hover {
    border: 1px solid gray;
}

.DateTitle {
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    /* width: 75%; */
}

.CurrentDate {
    border: none;
    font-size: x-large;
}

.Suggestion span {
    min-width: max-content;
    margin: 0.5em;
    font-size: 14.3px;
    flex-grow: 1;
    text-align: left;
}

.Page {
    font-family: sans-serif;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 10fr 0.5fr;
    grid-template-areas:
    "Header"
    "App"
    "Footer";
}

.Header {
    grid-area: Header;
    display: flex;
    flex-direction: row;
    padding-left: 1em;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid;
}

.Header a {
    color: gray;
    text-decoration: none;
    margin-top: 0.5em;
    margin-left: 1em;
}

.Header span {
    font-weight: bold;
    margin-top: 0.5em;
}

.Header a:hover {
    text-decoration: revert;
}

.Header a.current {
    color: black;
    font-weight: bold;
}


.Footer {
    grid-area: Footer;
}

.WeekView {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . . . .";
    max-width: 98vw;
    overflow-x: scroll;
}

.WeekViewCol {
    justify-self: center;
}

.Tag {
    /* background-color: lightgray; */
    max-width: min-content;
    margin-right: 0.5em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    align-self: center;
    padding: 0.1em;
    padding-left: 0.3em;
    font-size: small;
    border: 1px solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.Tag span {
    margin-right: 0.2em;
}

.Tag button {
    display: none;
    font-size: x-small;
    font-weight: bold;
}

.Tag:hover button {
    display: inline;
}

.TagEdit {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid transparent;
    padding-left: 0.5em;
    position: relative;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.TagEdit:hover {
    border: 1px solid gray;
}

.TagEdit input[type=text] {
    border: none;
    margin: 0;
    font-size: medium;
    width: 0em;
}

.TagEdit input[type=text]:focus {
    width: unset;
}

.TagEdit:hover input[type=text] {
    width: unset;
}

.TagEdit input[type=text]:hover {
    border: none;
}

.TagSugList {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    top: 2.5em;
    background-color: white;
    border: 1px solid;
    padding: 0.5em;
    z-index: 100;
}

